// Font icon
@font-face {
  font-family: "Icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.woff") format("woff"),
    url("../fonts/icomoon/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.ad {
  position: relative;
  display: inline-block;
  font: normal normal normal 16px/1 Icomoon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.ad-lines:before {
  content: "\e600"; // Three bars
}
.ad-wand:before {
  content: "\e010"; // Magic wand
}
.ad-radio-tower:before {
  content: "\f030"; // Signal tower
}
.ad-ruby:before {
  content: "\f047"; // gem
}
.ad-screen-full:before {
  content: "\f066"; // full screen
}
.ad-home:before {
  content: "\e021"; // house
}
.ad-image:before {
  content: "\e90d"; // Picture
}
.ad-camera:before {
  content: "\e90f"; // camera
}
.ad-play:before {
  content: "\e912"; // video
}
.ad-equalizer:before {
  content: "\e992"; // Equalizer
}
.ad-headphones:before {
  content: "\e910"; // headphones
}
.ad-message:before {
  content: "\e945"; // letter
}
.ad-mail:before {
  content: "\f0e0"; // envelope
}
.ad-man:before {
  content: "\e055"; // the man
}
.ad-woman:before {
  content: "\e056"; // woman
}
.ad-user:before {
  content: "\e972"; // user
}
.ad-ring:before {
  content: "\f0f3"; // bell
}
.ad-gear:before {
  content: "\e994"; // gear
}
.ad-increase:before {
  content: "\ea7b"; // Right menu
}
.ad-decrease:before {
  content: "\ea7c"; // Menu left
}
.ad-users:before {
  content: "\e973"; // user group
}
.ad-poweroff:before {
  content: "\f011"; // power supply
}
.ad-check:before {
  content: "\e207"; // check mark
}
.ad-close:before {
  content: "\e208"; // x number
}
.ad-into:before {
  content: "\e161"; // enter
}
.ad-trash:before {
  content: "\f014"; // Recycle Bin
}
.ad-minus:before {
  content: "\f068"; // minus sign
}
.ad-plus:before {
  content: "\ea0a"; // plus
}
.ad-refresh:before {
  content: "\e030"; // refresh
}
.ad-sync:before {
  content: "\e082"; // Synchronize
}
.ad-enlarge:before {
  content: "\e98b"; // expand
}
.ad-shrink:before {
  content: "\e98c"; // shrink
}
.ad-edit:before {
  content: "\e151"; // edit
}
.ad-buret:before {
  content: "\e091"; // Dropper
}
.ad-finder:before {
  content: "\eabf"; // os x finder
}
.ad-download:before {
  content: "\e960"; // os x finder
}
.ad-upload:before {
  content: "\e961"; // os x finder
}
.ad-info:before {
  content: "\f129"; // os x finder
}
.ad-exclamation:before {
  content: "\f12a"; // os x finder
}

.antui-icon.spin:before {
  display: inline-block;
  animation: loadingCircle 1s infinite linear;
}

@keyframes loadingCircle {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}
